<ng-include src="'views/main/slide.html'"></ng-include>
<br><br><br>
<section id="osgeo" ng-include="'views/main/osgeo.html'" class="osgeo features-blue"></section>
<br><br>
<section id="projects" ng-include="'views/main/projects.html'" class="projects features-blue"></section>
<br><br>
<section id="forum" ng-include="'views/main/forum.html'" class="forum features-blue"></section>
<br><br>
<section id="contact-us" ng-include="'views/main/contact-us.html'" class="user-group features-blue"></section>